//COLORES
$primary-color: #48cfad;
$secundary-color: #434a54;
$tertiary-color: #ac92ec;
$cuaternary-color: #a0d468;
$light-color: #e6e9ed;
$secundary-light-color: #ccd1d9;
$dark-color: #23282d;
$secundary-dark-color: #656d78;
//FUENTES
$roboto: "Roboto Mono", monospace;
$roboto-slab: "Roboto Slab", serif;
